@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #656d70;
  line-height: 1.8em;
  font-weight: 400;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  height: 1000px;
}
/* Header */

.header-contact {
  background-color: #1a1d1f;
}
.header-contact .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.header-contact ul {
  margin: 0px;
  padding-left: 0px;
}
.header-contact .icon-contact {
  color: #e0e0e0;
  font-size: 13px;
}
.contact-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 13px;
}
.contact-menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.contact-menu .contact-item {
  padding: 12px 35px;
  margin-left: 0px;
}
.contact-item {
  border-right: 1px solid #2b3034;
}
.contact-link .icon-contact {
  margin-right: 2px;
}
.social-link a {
  border: 0 none;
  color: #e0e0e0;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
.social-link {
  margin-left: 3px;
  width: 26px;
}
.contact-social {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.social-logo {
  font-size: 15px;
}
.header-nav {
  background-color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.header-nav-fix {
  top: 0px;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  list-style: none;
  height: 100px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.header-nav ul li {
  padding: 0px;
  margin-left: 40px;
}
.header-nav ul li a {
  padding: 36px 5px;
  font-size: 13px;
  line-height: 28px;
  text-transform: uppercase;
  color: #3a3a3a;
}
/* End Header */
