@media (min-width: 576px) {
  .navbar-mobile {
    display: none;
  }
}
.active {
  display: block;
}
.noactive {
  display: none;
}

.navbar-search-mobile {
  margin-right: 10px;
}
.navbar-search-mobile .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  color: #999;
  cursor: pointer;
}
input[type="text" i] {
  padding: 1px 2px;
  outline: none;
}
input:focus {
  border: 1px solid red !important;
}
a {
  text-decoration: none;
}
.navbar-search-mobile {
  position: relative;
  padding: 5px 0;
}
.navbar-search-mobile .search-box {
  position: relative;
  z-index: 50;
}
.navbar-search-mobile .search-box input[type="text"] {
  width: 100%;
  height: 30px;
  display: block;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 13px;
  -webkit-appearance: none;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.navbar-mobile {
  position: fixed;
  background-color: white;
  width: 80%;
  z-index: 100;
  height: 100vh;
  top: 60px;
}
.menu-mobile {
  list-style: none;
  padding-left: 10px;
}
.menu-mobile .menu-mobile-item {
  height: 30px;
  line-height: 28px;
  padding-left: 10px;
}
