/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
  background-color: transparent;
}
button {
  background-color: white;
  border: none;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Class chung, tạo cấu trúc */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.j-start {
  justify-content: flex-start;
}

.flex.j-center {
  justify-content: center;
}

.flex.j-end {
  justify-content: flex-end;
}

.flex.j-between {
  justify-content: space-between;
}

.flex.a-stretch {
  align-items: stretch;
}

.flex.a-start {
  align-items: flex-start;
}

.flex.a-center {
  align-items: center;
}

.flex.a-end {
  align-items: end;
}

/* Header */
.header {
  box-shadow: 0 0 0 1px rgb(195, 185, 185);
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.actions {
  margin-left: auto;
}

.logo {
  width: 160px;
  margin-right: 50px;
}

.menu-item {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 3px 10px;
  margin-right: 15px;
}

.search-form {
  position: relative;
}

.search-form input {
  padding: 10px;
  width: 290px;
  border-radius: 20px;
  border: 1px solid grey;
  outline: none;
}

.search-form button {
  position: absolute;
  right: 10px;
  top: 9px;
}

/* Main */
.main {
  margin-top: 80px;
}

.left {
  flex-basis: calc(75% - 10px);
}

.main-item {
  flex-basis: 100%;
  height: 286.31px;
  margin-bottom: 10px;
}

.main-item img {
  height: 100%;
  object-fit: cover;
}

.left .item {
  flex-basis: calc(100% / 3 - 20px / 3);
  height: 88.77px;
}

.left .item img {
  height: 100%;
  object-fit: cover;
}

.right {
  flex-basis: 25%;
}

.right .item {
  margin-bottom: 10px;
}

/* Tập mới nhất */
.new .movie {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}

.new .movie:not(:nth-child(4n)) {
  margin-right: 10px;
}
.new-h3 {
  margin: unset;
  font: unset;
  display: unset;
  color: #333;
  text-transform: uppercase;
  font-size: 25px;
}
/* Tin anime */
.tinanime {
  width: 1200px;
}
.new-anime .tin-anime {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}
.new-anime .tin-anime:not(:nth-child(4n)) {
  margin-right: 10px;
}
.tin-anime-img {
  width: 50%;
}
.tin-anime-img img {
  max-width: 150px;
  max-height: 89px;
}
.tin-anime-content {
  width: 50%;
  font-size: 14px;
  padding-left: 10px;
  text-overflow: ellipsis;
}
/* video */
.video-item {
  position: relative;
  margin-bottom: 10px;
}
.tray-content .video-item {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}
.tray-content .video-item:not(:nth-child(4n)) {
  margin-right: 10px;
}
.video-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px;
  max-height: none;
  color: #fff !important;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.video-item-duration {
  top: 23px;
  left: 60px;
  transition: border-color 0.3s, background 0.3s;
}
.video-item-duration {
  position: absolute;
  padding: 0 5px;
  font-size: 11px;
  color: #fff;
  border-radius: 2px;
  border-left: 1px solid #fff;
  text-shadow: 0 0 10px #000;
}
.video-item-play-button {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  line-height: 44px;
  font-size: 25px;
  border: 2px solid hsla(0, 0%, 100%, 0.65);
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
.video-item-play-button {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  color: #fff;
}
/* Truyen Tranh */
.tray-content .manga-item {
  flex-basis: calc(100% / 6 - 50px / 6);
  margin-bottom: 10px;
}
.tray-content .manga-item:not(:nth-child(6n)) {
  margin-right: 10px;
}
.manga-item {
  position: relative;
  margin-bottom: 10px;
}
.manga-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px;
  max-height: none;
  color: #fff !important;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.manga-item-meta-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 0 15px #000;
}
.manga-item-label {
  padding: 0 5px;
  border: 1px solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
}
/* Tin Tong Hop */
.tray-content .news-item {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}
.tray-content .news-item:not(:nth-child(4n)) {
  margin-right: 10px;
}
.news-item-thumbnail {
  width: 150px;
  height: 89px;
}
.news-item-thumbnail {
  transition: opacity 0.3s ease-in-out;
}
.news-item-thumbnail {
  margin-right: 10px;
}
.news-item-thumbnail {
  position: relative;
  float: left;
  overflow: hidden;
}
img {
  border: 0;
}
img {
  vertical-align: middle;
}
.news-item-meta {
  width: 160px;
  height: 89px;
  overflow: hidden;
  margin-left: 10px;
}
.news-item-genre {
  margin-bottom: 5px;
  padding: 2px 8px;
  background: #d80f16;
  display: table;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  user-select: none;
}
.genre-6 {
  background-color: rgba(63, 81, 181, 0.7);
}
.genre-3 {
  background-color: rgba(233, 30, 99, 0.7);
}
.genre-1 {
  background-color: rgba(243, 56, 74, 0.7);
}
/* Phim hoat hinh */
.tray-content .tray-item {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}
.tray-content .tray-item:not(:nth-child(4n)) {
  margin-right: 10px;
}
.tray-item {
  position: relative;
}
.tray-item-description {
  height: 81px;
  padding: 30px 15px 10px;
}
.tray-item-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  color: #eee;
  background: transparent;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
/* Bo suu tap */
.tray-content .collection-item {
  flex-basis: calc(100% / 4 - 30px / 4);
  margin-bottom: 10px;
}
.tray-content .collection-item:not(:nth-child(4n)) {
  margin-right: 10px;
}
/* Bang xep hang */
.tray-content .ranking-item {
  flex-basis: calc(100% / 6 - 50px / 6);
  margin-bottom: 10px;
}
.tray-content .ranking-item:not(:nth-child(6n)) {
  margin-right: 10px;
}
.ranking-item {
  position: relative;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  color: #fff;
}
.ranking-item .ranking-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ranking-item .ranking-item-thumbnail img {
  width: 100%;
  height: auto;
}
.ranking-item-top {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  width: auto;
  height: auto;
  text-align: right;
  line-height: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  border-radius: 100%;
  background: none;
}
.ranking-item-title {
  color: #fff;
}
.background-2.l90 {
  background: linear-gradient(
    -180deg,
    rgba(244, 67, 54, 0.9),
    rgba(244, 67, 54, 0.7)
  );
}
.background-4.l90 {
  background: linear-gradient(
    -180deg,
    rgba(156, 39, 176, 0.9),
    rgba(156, 39, 176, 0.7)
  );
}
.background-6.l90 {
  background: linear-gradient(
    -180deg,
    rgba(63, 81, 181, 0.9),
    rgba(63, 81, 181, 0.7)
  );
}
.background-8.l90 {
  background: linear-gradient(
    -180deg,
    rgba(0, 150, 136, 0.9),
    rgba(0, 150, 136, 0.7)
  );
}
.background-10.l90 {
  background: linear-gradient(
    -180deg,
    rgba(255, 193, 7, 0.9),
    rgba(255, 193, 7, 0.7)
  );
}
.background-12.l90 {
  background: linear-gradient(
    -180deg,
    rgba(140, 106, 73, 0.9),
    rgba(140, 106, 73, 0.7)
  );
}
.ranking-item-update,
.ranking-item-views {
  font-size: 12px;
  color: #fff;
}
.ranking-item-update,
.ranking-item-views {
  font-size: 12px;
  color: #fff;
}
/* All anime */
.tray-item-complete,
.tray-item-upcoming {
  top: 10px;
  left: 10px;
  width: 70px;
  height: 70px;
  padding-top: 16px;
  font-size: 14px;
}
.tray-item-complete,
.tray-item-upcoming {
  position: absolute;
  background: rgba(216, 15, 22, 0.6);
  color: #eee;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 100%;
}
.tray-film-genres,
.tray-film-update {
  position: absolute;
  left: 90px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.tray-more {
  clear: both;
  width: 100px;
  margin: 0 auto;
  padding: 6px 12px;
  text-align: center;
  border-radius: 2px;
  background: #d80f16;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* footer */
.notification-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 8888;
}
.footer,
.footer a {
  color: #888;
}
.footer {
  padding: 10px;
  font-size: 14px;
}
