body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100000px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* code menu header lzd */
.site-nav {
  height: 115px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
}
.fix-nav {
  margin-right: auto;
  margin-left: auto;
}
.lzd-header-content {
  height: 25px;
  background-color: #00000008;
}
.lzd-links-bar {
  line-height: 1.15;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  width: 1188px;
  margin-right: auto;
  margin-left: auto;
}
.header-links-list {
  text-align: right;
  word-spacing: -1ch;
}
.links-item-orange {
  display: inline-block;
  word-spacing: normal;
  padding: 0px 17px 0px 17px;
  vertical-align: middle;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.links-item-orange:hover .item-orange {
  color: orange;
}
.item-orange {
  font-size: 12px;
  color: #0f1568;
}
.links-item-grey {
  display: inline-block;
  word-spacing: normal;
  padding: 0px 17px 0px 17px;
  vertical-align: middle;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.links-item-grey:hover .item-grey {
  color: orange;
}
.item-grey {
  font-size: 12px;
  color: #9e9e9e;
}
/* logo bar */
.logo-bar {
  height: 75px;
  padding-top: 11px;
  color: #999999;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  width: 1188px;
}
.logo-bar-content {
  height: 48px;
  width: 1188px;
  text-align: left;
  word-spacing: -1ch;
  vertical-align: middle;
}
.lzd-logo-content {
  width: 200px;
  height: 29px;
  display: inline-block;
  word-spacing: normal;
}
.logo-img {
  max-width: 127px;
  max-height: 40px;
}
.search-bar {
  width: 688px;
  height: 45px;
  display: inline-block;
  word-spacing: normal;
  vertical-align: top;
  position: relative;
}
.search-bar input#search-bar-content {
  width: 688px;
  height: 45px;
  padding: 13px 19px;
  background-color: #eff0f5;
  border: 0px;
}
.button-search-icon {
  position: absolute;
  z-index: 1;
  right: 0;
}
.cart-bar {
  display: inline-block;
  word-spacing: normal;
  width: 40;
  height: 38px;
  margin-left: 20px;
}
.cart-bar-icon {
  width: 29px;
  max-height: 26px;
}
.momo-bar {
  display: inline-block;
  word-spacing: normal;
  width: 188px;
  height: 45px;
  text-align: right;
  margin-left: 53px;
}
.momo-bar-img {
  max-width: 188px;
  max-height: 45px;
}
/* header main */
.header-main {
  width: 100%;
  background-color: #25bac0;
  padding-top: 115px;
  height: 344px;
}
.warp-menu-header-main {
  width: 1188px;
  margin-left: auto;
  margin-right: auto;
  word-spacing: -1ch;
}
/* menu main head */
.menu-list-main {
  display: inline-block;
  word-spacing: normal;
  width: 200px;
  height: 344px;
  padding: 0;
  margin: 0;
  background-color: white;
  vertical-align: top;
}
.menu-list-main-category {
  width: 200px;
  line-height: 40px;
  float: left;
  height: 100%;
}
.menu-list-main-label {
  width: 200px;
  height: 344px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
  position: relative;
}
.list,
.list-lv2,
.list-lv3 {
  padding: 8px 0 12px;
  list-style: none;
  height: 100%;
  margin: 0;
}
.items,
.items-lv2,
.items-lv3 {
  display: block;
  padding-left: 8px;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
}
.items-link,
.items-link-lv2,
.items-link-lv3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 172px;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 27px;
  color: #757575;
  cursor: pointer;
}
.items:hover .items-link {
  display: block;
  color: orange;
}
/* menu lv 2 */
.menu-lv2-label,
.menu-lv3-label {
  width: 200px;
  height: 344px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
}
.items:hover .menu-lv2-label {
  display: block;
}
.items-lv2:hover .items-link-lv2,
.items-lv3:hover .items-link-lv3 {
  display: block;
  color: orange;
}
/* menu lv 3  */
.items-lv2:hover .menu-lv3-label {
  display: block;
}
/* Img cho header main */
.img-ads {
  display: inline-block;
  word-spacing: normal;
  text-align: right;
}
.img-ads-detail {
  max-width: 988px;
  max-height: 344px;
}
