@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 10000px;
}
/* Font list */

.content-header {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.title-section-font {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #1c1c1c;
}
.content-font {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.link-font {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-decoration-line: underline !important;
  color: #000000 !important;
}
.link-font:hover {
  color: #ffde5d !important;
}
.container--desktop {
  margin: 0px auto;
  max-width: 1170px;
}
/* Animation  */

/* <!-- Start Header Desktop --> */

.logo {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
}
.logo__text {
  display: flex;
  flex-direction: column;
}
.logo__text a {
  text-decoration: none;
}
.logo__branch {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  color: #f5f5f5;
}
.logo__slogan {
  padding-top: 3px;
  opacity: 0.7;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #f5f5f5;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.header--fixMenu {
  background-color: #fff;
  opacity: 0.9;
}
.header--fixMenu a {
  color: black;
}
.header--fixMenu .logo__branch {
  color: black;
}
.header--fixMenu .logo__slogan {
  color: black;
}
.wrap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap__nav {
  display: flex;
  align-items: center;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}
.nav__menu__items {
  list-style: none;
}
.nav__menu__item__link {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.nav__menu__item__hotline {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.nav__menu__hotline {
  list-style: none;
  background: #ffde5d;
  border-radius: 3px;
}
.nav__menu__item__link:hover {
  color: #ffde5d;
}
.nav__menu__item__hotline:hover {
  color: blue;
}
.banner {
  background-image: url(../assest/logobackground/background/indexbg1.jpg);
  background-size: cover;
  height: 680px;
  width: 100%;
}
.banner__wrap__searchbar {
  padding-top: 516px;
}
.banner__searchbar {
  background-color: white;
  width: 940px;
  height: 84px;
}
.banner__searchbar__items {
  padding-top: 19px;
  padding-left: 35px !important;
  border: 1px solid #d3d3d3;
}
.banner__searchbar__item__title {
  margin-bottom: 2px;
  color: #707070;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.banner__searchbar__item__select {
  border: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
#banner__searchbar__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 40px;
  margin-left: 9px;
}

/* <!-- End Header Desktop --> */
/* Start About Desktop */

.about--desktop {
  margin-top: 80px;
  text-align: center;
}
.about--desktop__content {
  margin-top: 28px !important;
  padding: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.about--desktop__content__wrap:not(:first-child) {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 300px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  display: flex;
}
.about--desktop__content__wrap:nth-child(1) {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 300px;
  display: flex;
  border: 1px solid #d3d3d3;
}
.about--desktop__content__item {
  width: 181px;
  height: 215px;
  margin: auto;
}
.about--desktop__content__item__icon__img {
  width: 63px;
  height: 63px;
  padding-bottom: 10px;
}

/* End About Desktop */
