* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14;
  font-family: 400px;
  line-height: 20px;
  text-decoration-color: black;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-rendering: optimizeLegibility;
}
ul {
  list-style: none;
}
.box_border {
  border: 1px solid #ebedf0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: green;
  color: white;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.header {
  width: 100%;
  background-origin: padding-box;
  top: 0px;
  width: 100%;
  position: relative;
  display: inline-block;
  height: 130px;
  box-shadow: none;
  border-bottom: 1px solid #004e7f;
}
.left_head {
  float: left;
}
.left_head img {
  display: block;
  max-width: 128px;
  max-height: 120px;
  width: auto;
  height: auto;
}
.right_head li {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  padding-left: 24px;
}
sup {
  vertical-align: super;
  font-size: small;
}
.active {
  color: #004e7f;
}
.nav {
  display: block;
  margin-top: 20px;
}
.nav a {
  text-decoration: none;
}
.row {
  word-spacing: -1ch;
}
.title_sell {
  display: block;
  color: #c12f25;
  text-indent: 20px;
  text-transform: uppercase;
  background: url(../images/titlemenu.png) no-repeat left 0;
  width: 200px;
}
.title_sell a {
  color: #c12f25;
}
.title_sell a:hover {
  background: white;
}
.item {
  word-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.content {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.main_content {
  width: 75%;
  float: left;
}
.img_main {
  max-height: 240px;
  max-width: 240px;
}
.aside_content {
  width: 25%;
  float: right;
}
.aside_title {
  padding: 10px 0 10px 10px;
  box-shadow: inset 0 --1px 0 #ebedf0;
  font-weight: 500;
  color: #2c2f36;
  font-size: 14px;
  line-height: 20px;
}
.aside_menu {
  padding: 10px 0 10px 10px;
  box-shadow: inset 0 --1px 0 #ebedf0;
  font-weight: 500;
  color: #2c2f36;
  font-size: 14px;
  line-height: 20px;
}
.aside_item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section .item {
  width: 25%;
  height: 200px;
}
.footer_content {
  display: block;
  position: relative;
  margin-top: 100px;
  background-color: #88c6ed;
  border-top: 1px solid #004e7f;
}
.footer_map {
  padding-top: 10px;
  float: left;
}
.box_footer {
  padding-top: 20px;
  float: right;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.box_footer img {
  max-width: 16px;
  max-height: 16px;
  width: auto;
  height: auto;
}
.item1_detail {
  max-width: 600px;
}
.title_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.0016em;
  color: #c12f25;
  margin: 8px 0;
  text-transform: uppercase;
}
