table {
  border-collapse: collapse;
  table-layout: fixed;
}
table,
tr,
th,
td {
  width: 100px;
  border: 1px solid gray;
}
th,
td {
  padding: 10px;
  vertical-align: top;
}
tbody tr:nth-child(2n + 1) {
  background-color: green;
  color: white;
}
tbody td:empty {
  background-color: yellowgreen;
}
tfoot .bg {
  background-color: blue;
  color: white;
}
/* Form */
input[type="radio"] {
  width: 100px;
}
.form-group > label {
  width: 150px;
  display: inline-block;
}
textarea {
  resize: none;
  outline: none;
}
input:focus {
  background-color: blue;
  box-shadow: 0 0 0 2px grey;
}
