body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/raica.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.menu_bar {
  overflow: hidden;
  border: 0px solid black;
  background-color: #f8def2;
  opacity: 0.6;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: auto;
  max-height: 260px;
  max-width: 600px;
  height: auto;
}
.menu_bar a {
  float: left;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: blue;
  position: relative;
}
.menu_bar p {
  color: aqua;
}
.menu_bar a:hover {
  background-color: yellow;
}
.content {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: auto;
  background-color: rgba(222, 248, 232, 0.6);
  height: 300px;
}
.content #content_left {
  float: left;
  display: block;
  padding-left: 10px;
  padding-top: 15px;
}
.content #content_right {
  padding-top: 15px;
  padding-left: 400px;
  display: block;
}
.content h1 {
  color: #0e8c45;
}
