body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/raica.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrap {
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 0;
  max-width: 1700px;
}
#head {
  background-color: #4caf50;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 15px;
  margin-left: 100px;
  position: fixed;
  max-width: 1700px;
}
#head h1 {
  font-size: 32px;
  color: #555;
  font-weight: 700;
  padding-left: 10px;
}
.menu_bar {
  overflow: hidden;
  border: 0px solid black;
  background-color: #f8def2;
  opacity: 0.6;
  margin-top: 130px;
  margin-left: 100px;
  margin-right: auto;
  max-height: 260px;
  width: 100%;
  height: auto;
}
.menu_bar a {
  float: left;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: blue;
  position: relative;
}
.menu_bar a:hover {
  background-color: yellow;
}
.content {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: auto;
  background-color: rgba(222, 248, 232, 0.6);
  height: auto;
  width: 100%;
}
.content #content_left {
  float: left;
  padding-left: 10px;
  padding-top: 15px;
}
.content img {
  height: 200px;
}
.content #content_right {
  padding-top: 5px;
  padding-left: 400px;
  display: block;
  font-size: 15px;
  line-height: 1.5625;
}
.content h1 {
  color: #0e8c45;
}
.content h2 {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  padding: 10px 0px 10px 10px;
}
.line {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #555;
  margin-left: 100px;
  width: 100%;
}
#data_raica {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: auto;
  width: 100%;
}
#data_raica h2 {
  color: red;
  font-size: 16px;
  line-height: 1.5625;
}
#data_raica ul {
  list-style: none;
  background-color: rgba(222, 248, 232, 0.6);
  padding-left: 10px;
  padding-top: 1px;
}
#footer {
  background-color: #014f1d;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 15px;
  margin-left: 100px;
  max-width: 1700px;
}
#footer p {
  color: #6eca8f;
  font-weight: 300;
  padding-left: 10px;
}
